#bst {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: coral;
}

.node {
  font-size: 1rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border: 0.2rem solid white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filled {
  background-color: aquamarine;
}

.null {
  background-color: blueviolet;
  content: 'null';
}

.holder {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 1rem;
  height: 5rem;
  /* background-color: blueviolet; */
  /* border: 1px solid white; */
}
